*{
margin: 10px;
}
.img1{
    border: 2px solid black;
    width: 437px;
    height: 550px;
}
#tablet{
    height: 400px;
    width: 400px;
    padding: 5px 5px;
}
#price{
    color: orangered;
    font-size: xx-large;
}
#original{
    font-size: large;
    color: black;
}
